@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reporting back-end application started and ready to connect</h1>
    <p>Add the need report and Run your React Application</p>
</div>
